.viewer {
  margin-top: 3rem;

  display: flex;
  align-items: flex-start;

  gap: 4rem;
}

.image {
  width: 520px;
  height: auto;
  aspect-ratio: 16 / 10;

  object-fit: cover;

  border-radius: 16px;

}

.info {
  max-width: 500px;
  text-align: left;
}

.info h2 {
  margin-bottom: 1rem;
}

.info p {
  line-height: 1.6;
}