.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 4rem;
}

.logo {
  height: 70px;
  width: auto;
}

.navLink {
    color: #333;
    text-decoration: none;
    font-size: 1rem;
    transition: color 0.2s ease;
}

.navLink:hover {
    color: #b11d1d;
}

.navButton {
  background: rgba(255, 255, 255, 0.15);

  border: 1px solid rgba(255, 255, 255, 0.3);

  color: white;

  padding: 0.7rem 1.4rem;

  border-radius: 999px;

  cursor: pointer;

  font-size: 0.95rem;

  transition: background 0.2s ease;
}

.navButton:hover {
  background: #b32025;
}

.active {
  background: rgba(255, 255, 255, 0.35);
}