.galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gallery {
  max-width: 980px;
  overflow-x: auto;
  padding: 0rem 0;

  scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.galleryGrid {
  display: grid;

  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);

  gap: 1.5rem;

  width: max-content;
}

.arrow {
  font-size: 2rem;
  color: #b32025;


  user-select: none;
}