.galleryWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.gallery {
  max-width: 980px;

  overflow-x: auto;

  padding: 0.5rem 0;

  scrollbar-width: none;
}

.gallery::-webkit-scrollbar {
  display: none;
}

.galleryGrid {
  display: grid;

  grid-auto-flow: column;
  grid-template-rows: repeat(2, 1fr);

  row-gap: 0.5rem;
  column-gap: 2rem;

  width: max-content;
}

.arrow {
  width: 40px;
  height: 40px;

  border: none;
  background: transparent;

  color: #b32025;

  font-size: 2rem;

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;

  transition:
    transform 0.2s ease,
    color 0.2s ease;
}

.arrow:hover {
  filter: drop-shadow(0 2px 4px rgba(0, 0, 0, 0.2));
}

.left:hover {
  transform: translateX(-4px);
}

.right:hover {
  transform: translateX(4px);
}

.hidden {
  visibility: hidden;
}